.sign-up {
    width: 350px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;

    .sign-up-form {
        position: relative;
    }

    @media screen and (max-width: 480px) {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;

    }

}

@media screen and (max-height: 810px) {
    .sign-up {
        input {
            font-size: 14px;
        }

        .sign-up-form {
            .btn-submit {
                font-size: 14px;
            }
        }

        .split {
            span {
                font-size: 14px;
            }
        }
    }
}