.img-avatar {
    img {
        width: 100%;
        border-radius: 100%;
        width: 45px;
        height: 45px;
    }
}

.header-box {
    margin-bottom: 5px;
    margin-top: 5px;

    .title-email {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}