html,
body {
    background-color: var(--white-secondary);
}

#dashboard {
    height: 100vh;
    width: 100%;

    .search-bar {
        width: 670px;
        height: 50px;
        display: flex;

        .search-input {
            border: none;
            border-radius: 8px 0px 0px 8px;
        }

        .search-button {
            border: none;
            border-left: 1px solid rgb(226, 226, 226);
            border-radius: 0px 8px 8px 0px;
            background-color: #fff;
        }
    }

    .section {
        .box-total-stocks {
            background-image: url('../../../assets/stock-icon-green.png');
            background-repeat: no-repeat;
            background-position: 98%;
            background-size: 200px;
        }

        .box-total-products {
            background-image: url('../../../assets/products-icon-green.png');
            background-repeat: no-repeat;
            background-position: 94%;
            background-size: 200px;
        }

        .box {
            display: flex;
            justify-content: center;

            div {
                background-color: #0bd69298;
                width: 100%;
                height: 247px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-image: url('');
                color: #fff;
                border-radius: 8px;
                border-color: transparent;
                transition: border-color 350ms ease-in-out, transform 400ms ease-in-out;

                &:hover {
                    border: 1px solid var(--light-green);
                    transform: scale(0.995);
                }
            }

        }

        .dropdown {
            .btn {
                height: 60px;
                font-size: 20px;
            }

            .dropdown-menu {
                max-height: 310px;
                overflow: auto;

                .dropdown-item {
                    border-radius: 8px;
                    border: none;
                    flex-wrap: wrap;

                    &:hover {
                        cursor: pointer;
                        background-color: #d8d5d5;
                    }

                    .item-name {
                        font-size: 18px;
                        font-weight: 700;
                    }

                    .item-id {
                        font-size: 13px;
                    }

                    .stock-name {
                        font-size: 18px;
                        font-weight: 700;
                    }

                    .stock-id {
                        font-size: 13px;
                    }

                    button {
                        border: none;
                        border-radius: 8px;
                        background-color: var(--light-green);
                        color: #fff;
                        font-size: 12px;
                        width: 60px;
                        height: 35px;
                        margin-top: 5px;
                    }
                }
            }
        }

        .graphic {
            border-radius: 8px;
            overflow: hidden;
            background-color: #fff;
            border-color: transparent;
            transition: border-color 350ms ease-in-out, transform 400ms ease-in-out;

            &:hover {
                border: 1px solid var(--light-green);
                transform: scale(0.995);
            }

            .view-product {
                border: 1px solid var(--orange);
                color: var(--orange);
                width: 200px;

                &:hover {
                    background-color: var(--orange);
                    color: #fff;
                }
            }
        }

        .table-items {
            height: 310px;
            border-radius: 8px;
            background-color: #fff;
            overflow: auto;
            padding: 40px;
            border-color: transparent;
            transition: border-color 350ms ease-in-out, transform 400ms ease-in-out;

            &:hover {
                border: 1px solid var(--light-green);
                transform: scale(0.995);
            }
        }
    }
}

@media screen and (max-width: 991px) {
    #dashboard {
        .search-bar {
            width: auto;
        }
    }
}

@media screen and (max-width: 890px) {
    #dashboard {
        .section {
            .box {
                background-position: center;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    #dashboard {
        .section {
            .box {
                background-size: 150px;
            }

            .dropdown-stocks {
                margin-top: 22px;
            }

            .table-items {
                padding: 20px;
                padding-top: 30px;

                h3 {
                    font-size: 20px;
                }

                th {
                    font-size: 13px;
                }

                td {
                    font-size: 13px;
                }
            }
        }
    }
}

@media screen and (max-width: 470px) {
    #dashboard {
        .section {
            .box {
                background-size: 110px;
                div {
                    height: 180px;

                    h2 {
                        font-size: 17px;
                    }

                    h3 {
                        font-size: 17px;
                    }
                }
            }

            .dropdown {
                .btn {
                    font-size: 18px;
                }
            }
        }
    }
}

@media screen and (max-width: 364px) {
    #dashboard {
        .section {
            .dropdown-stocks {
                margin-top: 23px;
            }

            .table-items {
                padding: 5px;
                padding-top: 10px;

            }
        }
    }
}