.stock-tables {
    width: 100%;

    .table {
        width: 100%;             // Tamanho total da tabela para permitir rolagem
        min-width: 800px;        // Define uma largura mínima para a tabela
        table-layout: fixed;     // Mantém a largura das colunas
        border-collapse: collapse;

        th, td {
            padding: 8px;        // Ajuste para o espaçamento nas células
            white-space: nowrap; // Evita quebra de linha no conteúdo
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        .stock-name {
            text-wrap: nowrap;

            img {
                width: 20px;
                margin-right: 10px;

            }

            span {
                color: var(--light-green);
                font-size: 18px;
            }
        }
       
    }
}