.session {
    background-color: #fff;
    min-height: 300px;
    position: relative;
    top: -8px;
    padding: 30px;
}

.btn {
    border-color: var(--light-green);
    color: var(--light-green);
     
    &:hover {
        background-color: var(--light-green);
        color: #fff;
    }
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}