.sidebar {
    height: 100vh;
    background-color: #fff;
    min-width: 250px;

    .item {
        color: #494949;;
        font-weight: 500;
        
    
        i {
            color: var(--light-green);
        }
    
        &:hover {
            background-color: #d8d5d5;
            border-radius: 8px;
            cursor: pointer;
        }
    }
    .active {
        background-color: var(--orange);
        border-radius: 8px;
        color: #fff;
    
        i {
            color: #fff;
        }
    
        &:hover {
            background-color: var(--orange);
        }
    }
}




.dropdown-menu {
    border-radius: 8px;
    border: none;
    .dropdown-item {
        border-radius: 8px;
        border: none;

        &:hover {
            cursor: pointer;
            background-color: #d8d5d5;
        }
    }
    
    .active {
        &:hover {
            background-color: var(--orange);
        }
    }
}

@media screen and (max-width: 1201px) {
    .sidebar {
        position: fixed;
        z-index: 9999;
    }
}