#side_nav {
    background-color: var(--white-secondary);
    min-width: 250px;
    min-height: 250px;
}

.header-box {
    .rounded {
        background-color: var(--light-green);
    }
}

.content {
    min-height: 100vh;
    width: 100%;
}

.item {
    color: #494949;;
    font-weight: 500;
    

    i {
        color: var(--light-green);
    }

    &:hover {
        background-color: #d8d5d5;
        border-radius: 8px;
    }
}
.active {
    background-color: var(--orange);
    border-radius: 8px;
    color: #fff;

    i {
        color: #fff;
    }

    &:hover {
        background-color: var(--orange);
    }
}

.dropdown-menu {
    border-radius: 8px;
    background-color: #fff;
    border: none;
    .dropdown-item {
        border-radius: 8px;
        border: none;

        &:hover {
            cursor: pointer;
            background-color: #d8d5d5;
        }
    }
    
    .active {
        background-color: var(--orange);

        &:hover {
            background-color: var(--orange);
        }
    }
}